.blackout {
  position: fixed;
  top: 0;
  left: 50px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.295);
}

.side-menu {
  position: fixed;
  top: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 30%;
  background-color: white;
}

.side-menu ul {
  height: 80%;
  width: 100%;
}

.back {
  width: 100%;
  margin: 1em 0;
  padding: 0 .5em;
  position: relative;
}

.back span {
  padding: 1em;
  cursor: pointer;
}

.side-menu ul li {
  font-size: 2em;
  margin: .4em;
  cursor: pointer;
}

.side-menu ul li a {
  width: 100%;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
}

