#data {
    position: relative;
    width: 100%;
    border: solid 1px #ece7e7;  
    border-radius: 4px;
    margin: 5px auto;
    padding: 1em;
}

#data svg {
    cursor: pointer;
}

.tec_data {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.tec_data p {
    width: 49.3%;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    text-align: left;
}

span {
    font-size: 1.2em;
    font-weight: bold;
}

.problem_desc {
    width: 70%;
    text-align: left;
}

.subtotal {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    width: 30%;
    align-items: center;
    gap: .5em;
}

.subtotal p {
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-size: 1.2em;
}

textarea{
    height: 5em;
}

.trash {
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 1.5em;
    color: #000;
    border-radius: 5px;
    padding: .1em;
    transition: .5s;
}

.trash:hover {
    color: #f06262;
}

@media screen and (max-width:400px){
    .subtotal {
        width: 100%;
    }

    .tec_data {
        flex-direction: column;
    }

    .tec_data label {
        width: 100%;
        flex-direction: column;
    }
}