/* @tailwind base;
@tailwind components;
@tailwind utilities; */

h2 {
  text-align:center;
}

.new-section {
  display: flex;
  justify-content: flex-end;
}

.new-section button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent; 
  color: #0094f6;
  font-size: .8em;
}

.new-section button svg {
  font-size: 1.5em;
}

.finish-or-cancel {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:800px){
  .new-section {
    height: 30vh;
  }
}