h2 {
  text-align: center;
}

.new-section {
  display: flex;
  justify-content: end;
}

.new-section button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #0094f6;
  font-size: .8em;
}

.new-section button svg {
  font-size: 1.5em;
}