.lightblue {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(228, 208, 255);
  z-index: 2;
}

.print_order {
  width: 80%;
  height: 98%;
  background-color: white;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.123);
  padding: 3em;
  font-family: sans-serif;
}

.header {
  display: flex;
  width: 100%;
  padding: .5em;
}

.logo {
  width: 30%;
}

.data {
  width: 50%;
  text-align: start;
}

.id {
  width: 20%;
  text-align: center;
}