.lightblue {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 1em 0;
  background-color: rgb(228, 208, 255);
  z-index: 2;
}

.print_order {
  width: 50%;
  background-color: white;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.123);
  padding: 3em;
  font-family: sans-serif;
}

.print_order p {
  display: flex;
  align-items: center;
  font-size: .7em;
  gap: .5em;
  padding: .1em 0;
}

.print_order span {
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
}

.print_order h3 {
  display: flex;
  padding: .5em 0;
  font-weight: 800;
  font-size: .7em;
  text-transform: uppercase;
  gap: .3em;
}

.header {
  display: flex;
  width: 100%;
  padding: .5em 0;
  gap: .8em;
}

.logo {
  width: 25%;
}

.data {
  width: 55%;
  text-align: start;
}

.data h1 {
  font-size: 1em;
  text-transform: uppercase;
}

.id {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 20%;
}

.id p {
  flex-direction: column;
}

.client_date {
  padding: .5em 0;
}

.client_date h2 {
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding: 0 0 .5em;
}

.print_status {
  display: flex;
  justify-content: space-between;
}