.service_order_container {
  width: 100%;
  height: 100%;
}

.new_section {
  display: flex;
  justify-content: flex-end;
}

.new_section button {
  display: flex;
  align-items: center;
  margin: 20px 10px;
  border: none;
  background-color: transparent; 
  color: #0094f6;
  font-weight: bold;
  font-size: .9em;
}

.new_section button svg {
  font-size: 1.5em;
  font-weight: bold;
}

.total {
  display: flex;
  flex-direction: column;
}

.total h4 {
  font-weight: 600;
  font-size: 2em;
}

.total p {
  font-size: 1.3em;
}

.total p span {
  font-weight: bold;
}

.finish-or-cancel {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .service_order_container form {
    display: flex;
    max-width: 100vw;
    min-height: 80vh;
    justify-content: flex-start;
  }
  .service_order_container h2 {
    /* display: none; */
    width: 100%;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    width: 100%;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .new_section {
    height: 30vh;
  }
  .finish-or-cancel input {
    background-color: aliceblue;
  }

  .cancel-btn {
    width: fit-content;
  }
}

/* @media screen and (max-width: 800px), (orientation: landscape) {

} */