.customer_data{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.status_container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

.status {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 .2em 0 .5em;
}

.devices h4 {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0 .5em;
}

.print {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 1em 0 0;
}

.print button,
.print a {
  color: rgb(85, 85, 233);
  font-weight: 900;
  transition: .3s;
}

.print button:hover,
.print a:hover {
  color: rgb(177, 177, 197);
}