.form {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    margin: 0 auto;
}

.form form {
    padding-bottom: 1em;
}

.form input[type='submit'] {
    margin: 1em 0;
}

#auth {
    background-color:#fff;
    width: 40%;
    box-shadow: 0px 2px 5px gray;
    text-align: center;
}

#auth  {
    padding: 1.5em;
}

#auth p a {
    color: #878787;
}

.image {
    width: 50%;
    background: url('../../assets/image_auth.jpg') no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 5px gray;
}

@media screen and (max-width:800px){
    #auth{
        width: 100vh;
        padding: auto;
    }

    .image {
        display: none;
    }
    
}