.dashboard {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
}

.dash {
  width: 75%;
}

.dash-data {
  display: flex;
}

.topics {
  height: 35vh;
}

.dash-card {
  width: 33%;
  text-align: left;
  margin: .5em 1em;
  padding: 1em .5em;
  border-radius: 5px;
  border: 1px solid #333;
  text-align: center;
}

.dash-card h4 {
  font-size: 1.5em;
  border-bottom: 1px solid #333;
}

.dash-card p {
  font-size: 2.5em;
  font-weight: 900;
  color: #3381b3;
}

.dash-graphic {
  width: 30%;
}

.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.graphic p {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-radius: 50%;
}