.dashboard {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash {
  display: flex;
  margin-bottom: 2em;
  width: 100%;
}

.dash_data {
  display: flex;
  justify-content: space-between;
  padding: .5em;
  width: 70%;
}

.dash_data li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: .8em;
  font-weight: 900;
  width: 22%;
  /* gap: .5em; */
}

.dash_data p {
  width: 100%;
  font-size: 1.8em;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
}

.dash_data span {
  font-size: 1.8em;
}

@media screen and (max-width: 425px) {
  .dash {
    flex-direction: column;
  }

  .dash_data {
    width: 100%;
  }

  .dash_data li {
    font-size: .5em;
  }
}