.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  z-index: 1;
  position: fixed;
  padding: 20px;
  top: 100px;
  height: 500px;
  width: 600px;
  border-radius: 5px;
  background-color: #fff;
}
.modal h2 {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
}

.new-device {
  display: flex;
  background-color: transparent;
  border-bottom: 0.5px solid #464141;
  color: black;
  align-items: center;
}