.card-order-service {
  padding: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  border: 1px solid #aaaaaa84;
  border-radius: 3px;
  transition: .8s;
  box-sizing: border-box;
}

.card-order-service p {
  padding-top: 1em;
}

.card-order-service:hover {
  background-color: rgba(22, 168, 230, 0.294);
  /* width: 120%;
  height: 120%; */
}


.date {
  font-size: .8em;
  color: gray;
}
@media screen and (max-width:800px){
  .card-order-service {
   width: 100vw;
   display : flex;
   transition: .4s;
  }
}