.order-service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

@media screen and (max-width:500px) {
    .order-service-cards{
        display: flex;
        width: 100vw;
    }
}

/* @media screen and (min-width: 800px) {

} */