.modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1;
  position: fixed;
  padding: 20px;
  top: 100px;
  height: 500px;
  width: 600px;
  border-radius: 5px;
  background-color: #fff;
  overflow: auto;
}

.modal h3 {
  text-align: end;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5em;
}

.modal h3 span {
  font-size: 1.5em;
  margin: 0 .5em;
}

.tec_data_modal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.tec_data_modal label {
  width: 45%;
  margin-right: 10px;
}

.modal h2 {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
}

.new_device {
  display: flex;
  background-color: transparent;
  border-bottom: 0.5px solid #464141;
  color: black;
  align-items: center;
}

button {
  display: block;
}

.todo {
  display: flex;
  justify-content: space-between;
}

.todo button {
  padding: 10px 20px;
  height: 45px;
  margin: 47px 0 0 0;
  border: 2px solid #0094f6;
  border-radius: 5px;
  color: #0094f6;
  font-weight: bold;
  transition: .5s
}

.todo button:hover {
  background-color: #0094f6;
  color: #FFF;
}

.parts {
  display: flex;
  height: 50px;
  align-items: center;
  text-align: left;
}

.parts span {
  font-weight: bold;
  width: 10%;
}

.parts .part_name {
  font-weight: bold;
  width: 25%;
  margin-right: 5%;
  overflow: auto;
  text-overflow: ''
}

.part_name::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.parts .part_price {
  font-weight: bold;
  margin-right: 10%;
  width: 25%;
}

.icons {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

.icons svg {
  font-size: 20px;
}

@media screen and (max-width: 425px) {
  .modal {
    width: 95%;
    height: 90%;
    margin: 0 auto;
    top: 5%;
  }

  .tec_data_modal {
    flex-direction: column;
  }

  .tec_data_modal label {
    width: 100%;
    margin: 0;
  }

  .todo {
    flex-direction: column;
    margin-bottom: 1em;
  }
}