#nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: #ccc;
  border-bottom:1px solid #abaaaa;
  box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
  padding: 0 20px 0 80px;
  font-weight: bolder;
  width: 100vw;
}

#nav a span {
  font-size: 1.5em;
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links li {
  padding: .4em 1em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

#nav-links li a {
  padding: .2em .5em;
  font-size: 1.2em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
}

