#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 20%;
    border-top: 1px solid #abaaaa;
    font-weight: bolder;
}
@media screen and (max-width:800px){
    #footer {
      margin-top: 50px;
      height: fit-content;
    }
  }