.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #152238;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  width: 95%;
  padding: 0 2em;
}

.logo {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
}

nav span {
  color: #fff;
  cursor: pointer;
}

.hamburger {
  width: 5%;
}

svg {
  display: none;
}

@media  screen and (max-width:800px) {
  .nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }

  nav {
    width: 70%;
    padding: 0;
  }

  .hamburger {
    width: 10%;
    color: #5c6168;
  }
  
  .hamburger svg {
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
    cursor: pointer;
  }
}

