.card_order_service {
  position: relative;
  padding: 1.5em;
  margin: 1em;
  text-align: left;
  border: 1px solid #aaaaaa84;
  border-radius: 3px;
}

.card_order_service p {
  padding-top: 1em;
}

.card_order_service {
  transition: .8s;
}

.card_order_service:hover {
  background-color: rgba(22, 168, 230, 0.294);
}

.qtd {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -15px;
}

.date {
  font-size: .8em;
  color: gray;
}