.card_order_service_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_order_service {
  position: relative;
  padding: 20px;
  text-align: justify;
  border: 1px solid #aaaaaa84;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: -1;
}

.card_order_service p {
  padding-top: 1em;
}

.card_order_service_container a {
  transition: .8s;
}

.card_order_service_container a:hover {
  background-color: rgba(22, 168, 230, 0.294);
}

.qtd {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -15px;
}

.date {
  font-size: .8em;
  color: gray;
}
@media screen and (max-width:800px){
  .card_order_service {
   width: 100vw;
   display : flex;
   transition: .4s;
  }
}