@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #FFF;
  color: #000;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  color: #000;
  font-size: 1em;
  margin: .7em .2em;
}

input,
textarea {
  /* background-color: #f7f4f4; */
  color: #aaa;
  border-bottom: 1px solid #646161;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  /* margin-bottom: .7em; */
  font-family: 'Titillium Web', sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #646161;
}

.btn,
input[type="submit"] {
  width: fit-content;
  background-color: #0094f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
  margin: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  width: fit-content;
  background-color: #e21414;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
}

.cancel-btn:hover {
  opacity: 1;
}

.finish-or-cancel {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
}

.blackout {
  position: fixed;
  top: 0;
  left: 50px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 1;
}

.pending {
  background-color: rgb(255, 163, 17);
}

.rejected {
  background-color: rgb(255, 42, 42);
}

.finished {
  background-color: rgb(2, 253, 2);
}

@media screen and (max-width:800px) {
  body{
    width: 100vw;
    height: 100vh;
  }

  div .blackout {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.295);
  }
}

@media screen and (max-width:800px) {
 body {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #FFF;
    color: #000;
    position: relative;
 } 
}
