@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #000;
}

.active {
  background: #7560FF;
  border-radius: 5px;
  color: #FFF;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  color: #000;
  font-size: 1em;
  margin: .7em .2em;
}

input,
textarea {
  background-color: #f7f4f4;
  color: #aaa;
  border: none;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .7em;
  font-family: "Roboto", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #646161;
}

.btn,
button,
input[type="submit"] {
  background-color: #0094f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: #08a791;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #e21414;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
  margin-top: 1em;
}

.cancel-btn:hover {
  opacity: 1;
}