
#auth {
    background-color: pink;
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#auth h2 {
    font-size: 2em;
    padding: 0;
}

#auth  {
    padding: 1.5em;
}

#auth p a {
    color: #878787;
}

