@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #FFF;
  color: #000;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  color: #000;
  font-size: 1em;
  margin: .7em .2em;
}

input,
textarea {
  color: #aaa;
  border-bottom: 1px solid #646161;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #646161;
}

.btn {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  /* width: 25%; */
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  opacity: .8;
  transition: .5s;
}
.btn:hover {
  opacity: 1;
}

input[type="submit"] {
  background-color: #0094f6;
}

input:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

.cancel-btn {
  background-color: #e21414;
}

.finish-or-cancel {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 1;
}

.pending {
  background-color: rgb(255, 163, 17);
}

.rejected {
  background-color: rgb(255, 42, 42);
}

.finished {
  background-color: rgb(2, 253, 2);
}