.status-container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.status {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 .2em 0 .5em;
}

.pending {
  background-color: rgb(137, 110, 255);
}

.rejected {
  background-color: rgb(255, 42, 42);
}

.finished {
  background-color: rgb(2, 253, 2);
}
