.customer-data{
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.status-container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.status {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 .2em 0 .5em;
}

.pending {
  background-color: rgb(255, 163, 17);
}

.rejected {
  background-color: rgb(255, 42, 42);
}

.finished {
  background-color: rgb(2, 253, 2);
}

@media screen and (max-width: 800px) {
  .status-container {
    width: 100%;
    height: fit-content;
    padding: 10px 0 10px 30px;
  }
}

@media screen and (min-width: 800px) {
  .customer-data {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20vh;
  }
  .customer-data h2, h3 {
    text-align: center;
  }
}