.dashboard {
  display: flex;
  position: relative;
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: rgb(75, 72, 72);
}

.topics svg {
  color: white;
  font-size: 2em;
  margin-top: .5em;
  cursor: pointer;
}

.topics svg:hover {
  color: #b5ff84;
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}