#data {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #ece7e7;  
    border-radius: 4px;
    margin: 5px auto;
    padding: .4em;
}

.tec-data {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.tec-data label {
   width: 45%;
   margin-right: 10px;
}

textarea{
    height: 5em;
}

.trash {
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 1.5em;
    color: #000;
    border-radius: 5px;
    padding: .1em;
    cursor: pointer;
    transition: .5s;
}

.trash:hover {
    color: #f06262;
}

@media screen and (max-width:400px){
    .tec-data label {
        width: 100%;
        flex-direction: column;
    }
}